<style>
    body {
        background: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 450px;
    }
</style>

<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <script></script>
        {{#each photos}}
        <img src="{{imageURL}}" alt="" class="swiper-slide">
        
        
        {{/each}}
        
    <script>
       var algebra,lectura,geometria,trigonometria,aritmetica,redaccion=[];
          for (i=0;i<= photos.length,i++){
        if (photos[i].curso=="algebra"){algebra.push(photos[i])};
        if (photos[i].curso=="lectura"){lectura.push(photos[i])};
        if (photos[i].curso=="geometria"){geometria.push(i)};
        if (photos[i].curso=="trigonometria"){trigonometria.push(photos[i])};
        if (photos[i].curso=="aritmetica"){aritmetica.push(photos[i])};
        if (photos[i].curso=="redaccion"){redaccion.push(photos[i])};
          }
        console.log(algebra,lectura,geometria,trigonometria,aritmetica,redaccion);
        </script>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
</div>