/*img's*/
.boxDeProblemaYSolucion {
    background-color: rgb(4, 170, 79);
    height: 350px;
    width: 740px;
    border-radius:32px;
    border: 1em solid rgba(17, 88, 17, 0.877);
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform:10s;
}

.boxDeProblemaYSolucion div img {
    height: 250px;
    width: 250px;
    cursor: zoom-in;
}

.boxDeProblemaYSolucion div img:hover {
  
   border: 3px solid rgba(255, 255, 0, 0.973);

}


.textodeenmedio{   
     display: flex; 
     align-items: center;
     flex-direction: column;

}

.botondelreporte {
    margin-top: 11.5px;
    background-color: rgb(47, 231, 10);
    border-radius:5px ;
    border: 3px solid rgb(27, 75, 18);
    
    padding: 3px 5px;
    cursor: pointer;
 }

 .botondelreporte:hover {
    transform: scale(1.1);
 }

 .checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

 .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.casilla{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  .checkbox:hover input ~ .casilla {
    background-color: #ccc;
  }
  .checkbox input:checked ~ .casilla {
    background-color: #2196F3;
  }
  /*crea el indicador se esconde cuando no esta marcado*/ 
  .casilla:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkbox input:checked ~ .casilla:after {
    display: block;
  }
  .checkbox .casilla:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  