* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    font-family: 'Roboto', sans-serif;
}

/* Diseño del icono regresar */
.link-home {
    position: absolute;
}

.link-home i {
    font-size: 25px;
    color: brown;

    margin-top: 20px;
    margin-left: 30px;
    margin-right: 3.2px;
}

.link-home a {
    font-size: 22px;
    font-weight: bold;

    color: black;
}

/* Container */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
}


/* Part Principal */

.PrincipalForSpaces {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*----------------------CIENCIAS--------------------------*/
.correccion {    /*espacio para la correccion de ciencias*/
    width: 250px;
    height: 250px;
    background-color: rgba(117, 204, 95, 0.5);
    border:2px solid rgba(60, 102, 60, 0.233);
    border-left:2px solid rgba(63, 119, 63, 0.329);
    border-right:2px solid rgba(60, 102, 60, 0.486);
    border-bottom: 3px solid rgba(60, 102, 60, 0.486);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 2.5rem;
    border-radius: 3.7px;
}
.spaceForResolution {  /* resolucion de ciencias*/
    min-width: 250px;
    min-height: 250px;
    background-color: rgba(117, 204, 95, 0.5);
    border:3px solid rgba(60, 102, 60, 0.486);
    border-right:2px solid rgba(63, 119, 63, 0.329);
    border-left:2px solid rgba(60, 102, 60, 0.486);
    border-top: 2px solid rgba(60, 102, 60, 0.233);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    border-radius: 3.7px;

    padding: 5px 7px;

}
.spaceForProblems {  /* problemas de ciencias,el contenedor que le da el borde verde*/
    min-width: 365px;
    min-height: 365px;
    background-color: rgb(49, 145, 30);
    
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    border-radius: 5px;
    font-size: 2rem;
    
    padding: 5px;
}

h2 {
    font-weight: bold;
}

.spaceForProblems strong {
    font-weight: bold;
}

   .spaceForProblems2{ /*el contenedor del logotipo de la pucp,que aparece al empezar*/
        min-width: 365px;
        min-height: 365px;
        background-color: cyan;
        
        position: relative;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        border-radius: 5px;
        font-size: 2rem;
    
        padding: 5px;
        
    
    }
 
    
    .tamañoDeLaImagenDelProblemaciencias{ /*esto es la clase que se crea en renderizarproblemas() en app.js,la imagen del problema cargado de ciencias*/
        max-width: 355px;
        min-height: 355px;  
        border-radius: 2.5px;
        
    }
    
    .tamañoDeLaImagenDeLaSolucionciencias{ /* esta igual,la de la solucion*/
        max-width: 240px;
        min-height: 240px;
    
        border-radius: 1.85px;
        
    }

    .botones_abajo_mas_indicador {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #indicadorDeEjercicios {
        font-size: 15.5px;
        font-weight: bold;  
        background-color: rgba(71, 248, 189, 0.527);
        padding: 1.7px 6px;
        border-radius: 3px;

        margin: 3px;
    }


/*---------------------------------------------------------LETRAS-------------------------------------*/
.correccion-letras {       /*espacio para la correccion de letras*/
    top: 0.2em;
    min-width: 10em;
    max-height: 13.1em;
    height: 8.4em;
    width: 22.6em;
    background-color: rgba(117, 204, 95, 0.5);
    border:1px solid rgba(40, 168, 40, 0.336);
    border-left:2px solid rgba(63, 119, 63, 0.329);
    border-right:2px solid rgba(60, 102, 60, 0.486);
    border-bottom: 3px solid rgba(60, 102, 60, 0.295);;
    position: relative;
    right:1em;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items:center;
    
    font-size: 2.5rem;
    border-radius: 3.7px;
}
.spaceForResolution-letras {    /* resolucion de letras*/
    
    max-width: 22.6em;
    max-height: 25em;
    height: 7.6em;
    width: 25em;
    background-color: rgba(117, 204, 95, 0.5);
    border:1px solid rgba(40, 168, 40, 0.336);
    border-right:2px solid rgba(63, 119, 63, 0.329);
    border-left:2px solid rgba(60, 102, 60, 0.486);
    border-top: 2px solid rgba(60, 102, 60, 0.233);

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right:1em;
    bottom: 0.2em;
    font-size: 2.5rem;
    border-radius: 3.7px;

    padding: 5px 7px;

}
.spaceForProblems-letras {   /*problemas de letras,el contenedor que le da el borde verde*/
    overflow: auto;
    min-width: 1em;
     max-height:21em;
     height: 30em;
     width: 31em;
    
     background-color: rgb(49, 145, 30);
     position: relative;
     right:1em;
 
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     align-items: center;
 
     border-radius: 5px;
     font-size: 2rem;
 
     padding: 5px;
     
 }



 .spaceForProblems2-letras{ /*el contenedor del logotipo de la pucp que aparece al empezar,de letras*/
    min-width: 365px;
    min-height: 365px;
    background-color: cyan;
    height:20em ;
    width: 30em;
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    font-size: 2rem;
    
    padding: 5px;
    

}
/* este para mover la palabra "correccion/solucion" dentro del div de las claves*/
/* #palabraCorreccion-letras{position: relative;left:3.5em;padding:4px}  */
.spaceForProblems-letras::-webkit-scrollbar-thumb{background:rgba(26, 25, 25, 0.226);border-radius: 5px;}
.spaceForProblems-letras::-webkit-scrollbar{background:rgba(26, 25, 25, 0.226);border-radius: 5px;}
.spaceForProblems-letras{overflow-y: auto;max-height: 21em;overflow-x: hidden;} /*este contenedor es de las imagenes de los problemas */

.resp1{left:1.29em;position: relative;bottom:4em;}  /* esto mueve las alternativas*/
.resp2{left:0.11em;position: relative;bottom:1.3em;}
.resp3{right:1em;position: relative;top:1.4em;}
.resp4{right:2.18em;position: relative;top:4.1em;}


.tamañoDeLaImagenDelProblemaletras{ /*esto es la clase que se crea en renderizarproblemas() en app.js,la imagen del problema cargado pero de letras*/
    
    border-radius: 7.5px;
    border:solid 3px rgba(46, 177, 46, 0.932);
    display: block;
    margin:auto;
}

.tamañoDeLaImagenDeLaSolucionletras{ /* esta igual,pero tienes que ajustar los tamaños para que quepa en el contenedor*/
    max-width:20em;
    height:3.5em;
    border-radius: 1.85px;
}
.texto{margin-bottom: 10px;margin-top: 0.4em;border-radius: 2.85px;border:solid 3px rgba(46, 177, 46, 0.932);}/*apartado esclusivo de lectura*/

/*-----------personalizacion general----------*/
    .respuestaCorrecta {
        padding: 5px 12px;
        background-color: chartreuse;
        margin-bottom: 20px;
        border-radius: 2px;
    }

    .respuestaIncorrecta {
        padding: 5px 12px;
        background-color: red;
        margin-bottom: 20px;
        border-radius: 2px;
    }

    #mostrarSolucion {
        padding: 4px 10px;
        background-color: cyan;
        border-radius: 5px;
        cursor: pointer;
    }
    .spaceForProblems h2 {
        font-size: 2.6rem;
        position: relative;
        bottom: 15px;
    }

    .spaceForProblems .logo-pucp {
        width: 220px;
        height: 220px;
    }
     .logotipowhite{background-color: rgb(255, 255, 255);} /*este no se que hara ??????????*/
   
 /*tiempo general y particular------*/
    .contenedordelostime{position: absolute;left: 79%;display:flex;top:0em;color: rgb(0, 255, 255);font-family:"Noto+Sans+JP","serif";
    margin-top: 20px;
    }
    .indicador-tiempo{position: relative;z-index:3;font-size: 1.5rem; font-family: 'Roboto', sans-serif;    }

    .generaltime{background-color: green;border: 4px rgb(39, 199, 199) solid ;border-radius: 5px;width: 100px;height: 50px;display:flex;align-items: center;justify-content: center;}


    .time {
        width: 185px;
        height: 50px;
        background-color: rgb(82, 190, 61);
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-size: 2.4rem;
        font-weight: bold;
    
        border-radius: 3px;
    }
    
/* Botons */

.botones_parte_de_abajo {
    display: flex;
    align-items: center;
}

.botones_parte_de_abajo .b {
    border: none; 
    background-color: white;
    cursor: pointer;
}

.botones_parte_de_abajo i {
    font-size: 30px;
    margin: 15px;
}

.botons {
    width: 300px;
    height: 82.5px;
    background-color: rgb(41, 139, 22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
}

.botons .empezar {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(193, 234, 248);
    color: rgb(56, 50, 50);
    padding: 8.5px 18.5px;
 height:2.7em;width:10.9em;
   
    font-size: 2.5rem;
    cursor: pointer;
 text-align: center;
    border-radius: 10px;
    justify-content: center;
}

.botons .cont-inp-comp {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botons .radio {
    display: flex;
    font-size: 16.5px;
    font-weight: bold;
    cursor: pointer;

    position: relative;
    bottom: 5px;
}

.botons .input {
    padding: 5px;
    width: 100px;
}


.botons .radio div {
    margin-left: 14px;
}

.botons .comprobar {
    font-size: 1.6rem;
    padding: 3px 6px;
    background-color: black;
    color: white;
    margin-left: 7px;

    cursor: pointer;
}

.fa-check-circle {
    color: rgb(43, 224, 43);
}

.fa-times-circle {
    color: red;
}

.fa-circle {
    color: white;
}

/* Responsive todavÃ­a no terminado */
@media(max-width: 580px) {
    
    .PrincipalForSpaces {
        flex-wrap: wrap;
    }

    .spaceForResolution {
        min-width: 164.3px;
        min-height: 164.3px;
    }   

        .imgResolutionSize {
            max-width: 157.7px;
            min-height: 157.7px;
        }

    .spaceForProblems {
        min-width: 240px;
        min-height: 240px;
    }   

        .spaceForProblems h2 {
            text-align: center;
        }

        .spaceForProblems .logo-pucp {
            width: 114.6px;
            height: 114.6px;
        }

        .imgsize {
            width: 240px;
            min-height: 240px;
        }

    .correccion {
        width: 164.3px;
        height: 164.3px;
        text-align: center;
    }   

}