<div class="link-home">
    <a href="/"><i class="fas fa-home"></i>Home</a>
</div>
<div class="container">

    <section class="time" id="time">
        <span id="minutos">--</span>:<span id="segundos">--</span>
    </section>


    <main class="PrincipalForSpaces">

        <div class="spaceForResolution" id="spaceForResolution">
            <p id="palabraSolucion">Solución</p>
        </div>

        <div class="spaceForProblems" id="spaceForProblems">
                <h2>¡Vamos futuro cachimbo!</h2>
                <img class="logo-pucp" src="./logo/logo-pucp.png" alt="">
        </div>

        <div class="correccion" id="correcion">
            <p id="palabraCorreccion">Corrección</p>
        </div>

    </main>


    <section class="botons">
        <a class="empezar" id="empezar">Empezar</a>
        
        <div class="cont-inp-comp" id="cont-inp-comp">
            <input class="input" id="input" type="text" placeholder="A, B, C o D">
            <a class="comprobar" id="comprobar">Comprobar</a>
        </div>
        <a class="siguiente" id="siguiente">Siguiente</a>
    </section>

</div>