<div class="link-home">
    <a href="/"><i class="fas fa-home"></i>Home</a>
</div>
<div class="container">

    <section class="time" id="espacioParaTiempoParticular">
        <span id="minutosParticularHtml">--</span>:<span id="segundosParticularHtml">--</span>
    </section>

    <div class="generaltime" id="espacioParaTiempoGeneral">
        <span id="minutosGeneralHtml" >--</span>:<span id="segundosGeneralHtml" >--</span>
    </div>

    <main class="PrincipalForSpaces">
         <div class="spaceForProblems-letras" id="espacioParaProblemas">          <!--espacio para los problemas,va primero para cambiar el diseño-->
            <div class="spaceForProblems2-letras" id="spaceForProblems2">
                <h2>¡Vamos futuro cachimbo!</h2>
                <img class="logo-pucp" src="./logo/logo-pucp.png" alt="">
            </div>    
        </div>
        <!--espacio para las resoluciones,van arriba-->
        <div class="parteDerechaSolucion_Correccion" >
            <div class="spaceForResolution-letras" id="espacioParaSolucion">
              <p id="palabraSolucion" >Solución</p>
            </div>
            <div class="correccion-letras" id="espacioParaCorreccion">
              <p id="palabraCorreccion-letras">Corrección</p>
            </div>
        </div>
    </main>

    <div class="botones_parte_de_abajo">
        <button class="b" id="retroceder"><i class="fas fa-chevron-left"></i></button>
        <section class="botons">
            <a class="empezar" id="empezar">Empezar</a>
            
            <div class="cont-inp-comp" id="boxDeAlternativasYComprobar">

                <div class="radio" id="radioButtons">
                    <div>
                        <input type="radio" name="alternativa" id="A" value="a">
                        <label for="A">A</label>
                    </div>
                    <div>
                        <input type="radio" name="alternativa" id="B" value="b">
                        <label for="B">B</label>
                    </div>
                    <div>
                        <input type="radio" name="alternativa" id="C" value="c">
                        <label for="C">C</label>
                    </div>
                    <div>
                        <input type="radio" name="alternativa" id="D" value="d">
                        <label for="D">D</label>
                    </div>
                </div>

                <button class="comprobar" id="comprobar">Comprobar</button>
            </div>
        </section>
        <button class="b" id="siguiente"><i class="fas fa-chevron-right"></i></button>
    </div>

</div>