<div class="link-home">
    <a href="/"><i class="fas fa-home"></i>Home</a>
</div>
<div class="container" id="container">

    <section class="time" id="espacioParaTiempoParticular">
        
        <span id="minutosParticularHtml" >--</span>:<span id="segundosParticularHtml">--</span>
    </section>
    <div class="contenedordelostime">
    <div class="generaltime" id="espacioParaTiempoGeneral">
        
        <span id="minutosGeneralHtml" >--</span>:<span id="segundosGeneralHtml" >--</span>
        
    </div>
    <b><p class="indicador-tiempo">-tiempo general</p></b>
</div>
    <main class="PrincipalForSpaces">

        <div class="spaceForResolution" id="espacioParaSolucion">
            <p id="palabraSolucion">Solución</p>
        </div>

        <div class="spaceForProblems" id="espacioParaProblemas">
            <div class="spaceForProblems2" id="spaceForProblems2">
                <h2>¡Vamos futuro cachimbo!</h2>
                <img class="logo-pucp" src="./logo/logo-pucp.png" alt="">
            </div>
        </div>

        <div class="correccion" id="espacioParaCorreccion">
            <p id="palabraCorreccion">Corrección</p>
        </div>

    </main>

    <div class="botones_abajo_mas_indicador">
        <div id="indicadorDeEjercicios"><span id="indicadorDelProblemaActual">0</span>/<span id="indicadorDelTotalDeEjercicios">10</span></div>

        <div class="botones_parte_de_abajo">
            <button class="b" id="retroceder"><i class="fas fa-chevron-left"></i></button>
            <section class="botons">
                <a class="empezar" id="empezar">Empezar</a>
                
                <div class="cont-inp-comp" id="boxDeAlternativasYComprobar">

                    <!-- codigo de prueba -->
                    <form action="#" class="radio" id="radioButtons">
                       
                          <label >
                            <input type="radio" name="alternativa" id="A" value="a" />
                            <span class=><p class="letra">A</p></span>
                          </label>
                       
                          <label >
                            <input type="radio" name="alternativa" id="B" value="b" />
                            <span ><p class="letra">B</p></span>
                          </label>
                       
                          <label >
                            <input type="radio" name="alternativa" id="C" value="c"  />
                            <span ><p class="letra">C</p></span>
                          </label>
                       
                       
                          <label >
                            <input type="radio" name="alternativa" id="D" value="d"  />
                            <span ><p class="letra">D</p></span>
                          </label>
                        
                      </form>

                    <!-- codigo de prueba -->
    
                    <!-- <div class="radio" id="radioButtons">
                        <div>
                                <input type="radio" name="alternativa" id="A" value="a">
                                <span>A</span>
                        </div>
                        <div>
                            <input type="radio" name="alternativa" id="B" value="b">
                            B
                        </div>
                        <div>
                            <input type="radio" name="alternativa" id="C" value="c">
                            C
                        </div>
                        <div>
                            <input type="radio" name="alternativa" id="D" value="d">
                            D
                        </div>
                    </div> -->
    
                    <button class="comprobar" id="comprobar">Comprobar</button>
                </div>
            </section>
            <button class="b" id="siguiente"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>

</div>
<div id="reporte">
    
</div>