<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <p id="stringproblemas" style="display: none" ><%= JSON.stringify(searchproblemas)  %></p> 
    <p style="display: none;"><span id="curso"><%= matr %></span><span id="tipo"><%= tip %></span></p>
    <%- include('../partials/head.html') %>
    <script> 
    var problemas=JSON.parse(document.getElementById("stringproblemas").innerHTML)
       console.log(problemas)
    </script>
</head>
<body>

    <%- include('../partials/estructura-principal-ciencias.html') %>
    
    <script>
        let materia = document.getElementById('curso').innerHTML
        let tipo = document.getElementById('tipo').innerHTML
        console.log(materia, tipo)
    </script>
    <%- include('../partials/linkcss.html') %>
    <%- include('../partials/linkProblemas/linkProblemasMatematica.html') %>
    <%- include('../partials/link-app.html') %> 
</body>
</html>